<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV-pIUpbXjrzLyuXldzUcHrLxBgZh4S1I</string>
	<key>GCM_SENDER_ID</key>
	<string>486870443259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LeLien.VisiteDuLien</string>
	<key>PROJECT_ID</key>
	<string>visite-lien</string>
	<key>STORAGE_BUCKET</key>
	<string>visite-lien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486870443259:ios:a69ca631951233c030bc5e</string>
	<key>DATABASE_URL</key>
	<string>https://visite-lien-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>